.widget-container .icons-container {
    margin-top: 10px;
    margin-bottom: 30px;
}

.widget-container .icons-container>.icon-container {
    display: inline-block;
    text-align: center;
}

.widget-container .icons-container>.icon-container>.dp-icon {
    max-height: 40px;
    max-width: 80px;
}